*{
    margin: 0%;
}
.head{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #091057; 
}
#vikas{
  color: #80e6ff;
}
.name>img{
 height: 100px;
 width: 100px;
 border-radius: 50%;
 margin: 10px;
 object-fit: cover;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.name>img:hover{
    transform: scale(1.5) rotate(10deg);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}
h1{
    margin-top: 30px;
    font-size: 50px; 
}
.head2{
  position: sticky;
   top: 0;
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   height: 50px; 
   background-color: #091057;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);;
}
.menu {
  position: sticky;
  margin-left: 50px;
  margin-top: 25px;
}
.menu-toggle {
  display: none;
}
.menu-items {
  display: none; 
  flex-direction: column;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 0;
}
.menu-items > a {
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.4rem;
  border: rgb(2, 2, 2) solid;
  text-decoration: none;
  background-color: antiquewhite;
  color: #020002;
  font-weight: bold;
}
.hamburger {
  background-color: rgb(231, 190, 190);
  color: #000000;
  font-size: 26px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}
.menu-toggle:checked + .hamburger + .menu-items {
  display: flex; 
}
@media (min-width: 768px) {
  .hamburger {
      display: none; 
  }
  .menu-items {
      display: flex; 
      position: static;
      flex-direction: row;
      background: none;
      padding: 0;
  }
}
.login{
    margin-right: 10px;
}
.login>button{
    margin: 0.4rem;
    font-size: 1.1rem;
    border-radius: 20px;
    background-color: rgb(255, 170, 1);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 5px;
}
button:hover{
    color: rgb(241, 1, 61);
    text-decoration: underline;
}
a:hover{
  color: rgb(241, 1, 61);
  text-decoration: underline;
}
.zero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A90E2;
    color: rgb(224, 210, 223);
    padding: 20px;
    text-align: center;
    padding: 20px;
    text-align: center;
}
.zero>h2{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  border-right: 4px solid #fff; 
  white-space: nowrap; 
  overflow: hidden; 
  animation: typing 4s steps(35) 1s 1 normal both, blink 0.5s step-end infinite; /* Typewriter + blinking cursor */
  }
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }
.b1{
    display: flex;
    justify-content: center;
}
.b11{
    height: 500px;
    width: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.b11>img{
    height: 400px;
    width: auto;  
    object-fit: cover;
    opacity: 0;
    transform: rotateY(-90deg); 
    animation: flipIn 1.5s ease-out forwards;
}
@keyframes flipIn {
    0% {
      opacity: 0;
      transform: rotateY(-90deg) translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: rotateY(0) translateX(0); 
    }
  }
.b12{
    height: 400px;
    width: 550px;
    margin-top: 60px;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.b12>p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    word-spacing: 3px;
}
.exploreme{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border: blueviolet;
    border-radius: 5px;
}
html {
    scroll-behavior: smooth;
  }
  .Resume{
    background-color: #4A90E2;
    background-image: linear-gradient(#758eaa, #020833);
    display: flex;
    justify-content: center;
  }
.resume{
    object-fit: cover;
    height: 150px;
    width: auto;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}  
.resume:hover{
    transform: scale(1.5) rotate(10deg);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}
.b2{
    background-color: #ed8d17cb;
    width: auto;
    height: 600px;
    padding: 25px;
    animation: fadeInLeft 1s ease forwards;
}
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-75px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
.b21>p{
  font-size: 40px;
  margin-left: 65px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #4a0966;
}
.b21>p:hover{
  color: #a1f8fe;
}
.b22{
  display: flex;
  justify-content: space-around;
}
 .DSA{
  background-image: url(DSA.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: 300px;
   width: 250px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .wd{
  background-image: url(WD.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: 300px;
   width: 250px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .code{
  background-image: url(python.avif);
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: 300px;
   width: 250px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
.card>p,h3{
  text-align: center;
  font-size: 20px;
}
.card:hover {
  h3{
    color: #091057;
  }
  box-shadow: 0 16px 26px rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
  transition: all 0.3s ease;
  text-decoration: underline;
  text-decoration-color: #02162d;
  background-image: linear-gradient(#f1cd15, #020731)
}
.skillbottom{
  margin-top: 50px;
  object-fit: cover;
  height: 100px;
  width: 1050px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.knowthebusiness:hover{
  background-color: #f78800;
  text-decoration: wavy;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
} 
.b3 {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #f78800;
  background: radial-gradient(#D0F9F3, #78b0ff, #FFFFFF);
  text-align: center;
  animation: fadeInRight 1s ease forwards;
}
@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
.workcard1:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  text-decoration-color: #020833;
  transition: transform 0.5s ease, background-size 0.5s ease;
  background-size: 120%;      
  transform: scale(1.05); 
  h1{
    color: #042346;
  }
}
.workcard2:hover {
  h2{
    color: #042346;
  }
  transition: transform 0.7s ease, background-size 0.5s ease;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  text-decoration-color: #020833;
}
.b3 > img {
  display: block;
  margin: 20px auto 30px;
  height: 32vw;
  width: 23vw;
  border-radius: 50%;
  box-shadow: 10px 10px #04106b;
}
hr {
  width: 75%;
  margin: 0 auto;
  border-style: inset groove;
  border-width: 2px;
}
.workcard1, .workcard2 {
  height: 30vw;
  width: 30vw;
  box-shadow: 10px 10px #061c36dc;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  text-align: center;
  line-height: 25px;
  margin: 20px auto;
}
.workcard1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), url(ruminateimg.png);
  background-size: cover;
  background-position: center;
}
.workcard2{
  background-image: url(webdev.avif);
  background-size: cover;
  background-position: center;
  padding-top: 45px;
  color: #ffffff;
  font-weight: bold;
}
.content > button {
  height: 60px;
  width: 150px;
  margin-top: 5px;
  background-color: rgb(67, 10, 60);
  cursor: pointer;
  display: block;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.content > button:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  scale: 1.2;
  background-color: #7b1fa2;
}
.knowthebusiness {
  font-size: 28px;
  border: #020833 solid;
  font-weight: bolder;
  padding: 10px;
  width: 60%; 
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 60px;
  margin-bottom: 20px;
}
.b4{
  background-color: white;
  height: 590px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact{
  height: 400px;
  width: 100%;
}
.contactimg{
  height: 400px;
  width: 70vw;
  padding: 100px 40px 50px 50px;
}
.contactimg>img{
  height: 380px;
  width: auto;
  animation: fade 1s ease forwards;
}
@keyframes fade {
  0% {
      opacity: 0;
      transform: translateY(120px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.contactheading>h1{
  color: #0a3361;
  text-align: center;
  font-weight: bolder;
}
.contactform{
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form{
  text-align: center;
  height: auto;
  width: 50vw;
}
input[type="text"], input[type="email"], input[type="tel"]{
  width: auto;
  padding: 8px;
  border: 3px solid black;
  border-radius: 4px;
  background-color: #3e60876f;
}
#msg{
  background-color: #3e60876f;
}
#submitbutton{
  height: 40px;
  width: 170px;
  background-color:pink;
  padding: 8px;
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
#submitbutton:hover{
  transform: scale(1.2);
  background-color: #4a0966;
}
#msg
{
  max-width: 400px;
  max-height: 100px;
  min-width: 200px;
  min-height: 75px;
}
.foot1{
  height: 295px;
  width: auto;
  padding: 20px;
  background-color: rgba(2, 6, 40, 0.644);
  display: flex;
  justify-content: space-between;
}
#vplogo>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.quote,.quicklinks,.company,.app{
  width: 25vw;
  height: 250px;
  padding: 25px;
}
ul{
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.app{
  padding: 60px 10px 100px 70px;
  
}
#insta,#x{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#linkdin{
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
li:hover{
  color: #D0F9F3;
}
.apps:hover{
  transform: scale(1.2);
}
.copyright{
  height: 55px;
  width: auto;
  padding: 20px;
  background-color: rgba(2, 6, 40, 0.829);
  line-height: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6200ea, #a000e6);  
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4b00c4, #8000b4);  
}
.a{
  color: #f0f0f0;
}

@media (max-width: 768px) {
.menu-items{
    flex-direction: column;
    position: absolute;
    top: 30px;   
    padding: 0.1rem;
    border-radius: 5px;
    margin-top: 15px;
    width: 110px;
    background-color: #f78800;
}
.zero>h2{
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.zero>h1{
  font-size: 2rem;
}
.head2{
  height: 300px;
}
.b1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.b11, .b12 {
  width: 90%;
  height: auto;
}
.b11 > img {
  width: 50%;
  height: auto;
}
.b12 {
  width: 90%;
  margin-top: 20px;
}
.b12 > p {
  font-size: 16px;
  line-height: 22px;
}
.exploreme {
  font-size: 28px;
}
  .b2{
    height: 1300px;
  }
  .b21 > p {
      font-size: 32px;
      margin-left: 0; 
      text-align: center;
  }
  .b22 {
      flex-direction: column; 
      align-items: center;
  }
  .card {
      width: 80%; 
      margin-bottom: 20px;
      padding: 20px;
  }
  .card > p, .card > h3 {
      font-size: 18px;
  }
  .skillbottom {
      width: 100%;
      margin-top: 20px;
  }
  .workcard1, .workcard2 {
    height: 40vw;
    width: 70vw; 
    font-size: 16px;
    padding: 20px;
  }
  .b3 > img {
    height: 55vw;
    width: 40vw;
  }
  .knowthebusiness {
    font-size: 20px;
    width: 90%;
  }
  .b4 {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .contactimg {
    margin-top: 250px;
    height: auto;
    width: 100%;
    padding: 20px;
    display: block;
    display: flex;
    justify-content: center;
  }
  .contactheading > h1 {
    font-size: 2rem;
  }
  .contactform {
    padding: 20px;
    width: 80vw;
  }
  form {
    width: 90%;
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 90%;
    padding: 10px;
  }
  #msg {
    width: 100%;
    max-height: 150px;
  }
  #submitbutton {
    width: 50%;
    font-size: 1rem;
  }  
}
@media (max-width: 480px) {
  body{
    max-width: 480px;
  }
  .zero > h2 {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 30ch;
    margin-top: 0px;
    white-space: pre-wrap;
}
.b1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.b11, .b12 {
    width: 100%;
    height: auto;
}
.b11 > img {
    width: 60%;
    height: auto;
}
.b12 {
    width: 100%;
    margin-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
.b12 > p {
    font-size: 14px;
    line-height: 20px;
}
.exploreme {
    font-size: 24px;
}
  .b21 > p {
      font-size: 24px;
  }
  .b22 {
      flex-direction: column; 
      align-items: center;
  }
  .card {
      width: 80%; 
      padding: 30px;
  }
  .card > p, .card > h3 {
      font-size: 16px;
  }
  .skillbottom {
      width: 100%;
      height: 80px;
  }
  .workcard1, .workcard2 {
    height: auto;
    width: 80%; 
    font-size: 14px;
    padding: 15px;
  }
  .b3 > img {
    height: 67vw;
    width: 50vw;
  }
  .content > button {
    width: 70%;
    height: auto;
    font-size: 14px;
    padding: 10px;
  }
  .knowthebusiness {
    font-size: 18px;
    width: 90%;
  }
  .b4 {
    padding: 10px;
  }
  .contactimg {
    width: 100%;
    padding: 40px;
  }
  .contactimg>img{
    height: auto;
    width: 250px;
    padding: 0%;
    margin-right: 100px;
  }
  .contactheading > h1 {
    font-size: 1.2rem;
  }
  .contactform {
    padding: 10px;
    width: 90vw;
  }
  form {
    width: 90%;
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 80%;
    padding: 12px;
  }
  #msg {
    width: 95%;
    max-height: 200px;
  }
  #submitbutton {
    width: 80%;
    font-size: 1rem;
    padding: 10px;
  }
  .foot1 {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .quote, .quicklinks, .company, .app {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
  }
  #vplogo>img {
    width: 60px;
    height: auto;
    margin-top: 15px;
  }
  ul {
    font-size: 14px;
    line-height: 20px;
  }
  .app {
    padding: 20px 5px;
  }
  #insta, #x {
    height: 35px;
    width: 35px;
  }
  #linkdin {
    height: 20px;
    width: 80px;
  }
  .copyright h3 {
    font-size: 14px;
  }
  .copyright{
    height: auto;
  }
}